<div class="container">
<p><strong>You:</strong></p>
<%= @ask %>
</div>
<div class="container">
<p><strong>Coach:</strong></p>
<%= @full_answer %>
</div>
<br>
<%= link_to "Ask another question", "/ask" %>
